body {
  display: flex;
  /* /* width: 1440px; */
  /* padding: 180px 470px 228px 470px;  */
  padding: 180px 470px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background: var(--text-white, #f1f1f1);
}

.login-layout {
  display: flex;
  width: 500px;
  height: 492px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--main-white, #e2e2e9);
}

.login-layout .login-content-layout {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
  gap: 48px;
}

.login-content-layout .login-title {
  display: flex;
  color: var(--text-black, #1f1f1f);
  /* Heading/Large (40|52) */
  font-family: Alata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
  /* margin-bottom: 48px; */
  justify-content: center;
}

.login-content-layout .login-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.login-content-layout .login-text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.login-content-layout .login-check-text {
  color: var(--text-black, #1f1f1f);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
}

.login-content-layout .login-btn {
  display: flex;
  width: 200px;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--text-grey, #444);
}

.login-btn .login-btn-text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.login-content-layout .forgot-password {
  color: var(--main-blue, #4d5dfb);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
}

.login-content-layout .text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.login-content-layout .blue-text {
  color: var(--main-blue, #4d5dfb);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-decoration-line: underline;
}

.form-control {
  width: 100%;
}

/* Sign Up */
.signup-layout {
  display: flex;
  width: 500px;
  height: 644px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--main-white, #e2e2e9);
}

.signup-content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.signup-content-layout .signup-title {
  color: var(--text-black, #1f1f1f);
  /* Heading/Large (40|52) */
  font-family: Alata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.signup-form label {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.signup-content-layout .signup-btn {
  display: flex;
  width: 200px;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--text-grey, #444);
}

.signup-btn .signup-btn-text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.signup-content-layout .text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.signup-content-layout .blue-text {
  color: var(--main-blue, #4d5dfb);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-decoration-line: underline;
}

/* Empty List */
.draw-list-layout {
  display: flex;
  width: 770px;
  height: 814px;
  padding: 40px 40px 470px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--main-white, #e2e2e9);
}

.draw-list-layout .draw-list-content {
  /* width: 770px; */
  /* height: 814px; */
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--main-white, #fff);
}

.draw-list-layout .title-holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* justify-items: ce; */
  align-items: center;
}

.draw-list-title {
  color: var(--text-black, #1f1f1f);
  font-family: Alata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
}

.draw-list-title p {
  color: var(--text-grey, #444);
  /* Label/Bold/Small (16|22) */
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.draw-list-layout .title-holder .create-btn {
  display: inline-flex;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  border: 2px solid var(--text-grey, #444);
}

.draw-list-title .create-btn-text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.draw-list-content .text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.draw-list-content .draw-table {
  border-radius: 8px 8px 0px 0px;
}

.draw-list-content table {
  border-radius: 10px;
}

.draw-table tr {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--main-grey, #e2e2e2);
}

.draw-table th {
  color: var(--text-grey, #444);
  text-decoration: none;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.draw-table td {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

/* Create New */
.create-new-layout {
  display: flex;
  width: 770px;
  height: 814px;
  padding: 40px 39px 442px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--main-white, #e2e2e9);
}

.create-new-content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 48px; */
}

.create-new-content-layout .title-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-holder a {
  text-decoration: none;
}

.title-holder .back-to-list {
  color: var(--text-grey, #444);
  /* Label/Bold/Small (16|22) */
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-holder .create-title {
  color: var(--text-black, #1f1f1f);
  /* Heading/Large (40|52) */
  font-family: Alata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.create-form label {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.create-new-content-layout .draw-btn {
  display: flex;
  width: 200px;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--text-grey, #444);
}

.draw-btn .draw-btn-text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

/* Draw Detail */
.draw-detail-layout {
  display: flex;
  width: 770px;
  height: 814px;
  padding: 40px 39px 203px 40px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--main-white, #e2e2e9);
}

.draw-detail-layout .title-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.draw-detail-layout .title-holder a {
  text-decoration: none;
}

.draw-detail-layout .title-holder .back-to-list {
  color: var(--text-grey, #444);
  /* Label/Bold/Small (16|22) */
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  display: flex;
  align-items: center;
  gap: 10px;
}

.draw-detail-layout .title-holder .draw-detail-title {
  color: var(--text-black, #1f1f1f);
  /* Heading/Large (40|52) */
  font-family: Alata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
}

.draw-detail-layout .title-holder .draw-detail-btn {
  color: var(--text-black, #1f1f1f);
  font-family: Alata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
}

.draw-detail-layout .title-holder .create-btn {
  display: flex;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  border: 2px solid var(--text-grey, #444);
}

.draw-detail-list-content .draw-detail-table {
  border-radius: 8px 8px 0px 0px;
}

.draw-detail-list-content table {
  border-radius: 10px;
}

.draw-detail-table tr {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--main-grey, #e2e2e2);
}

.draw-detail-table th {
  color: var(--text-grey, #444);
  text-decoration: none;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.draw-detail-table td {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.draw-detail-layout .edit-btn {
  display: flex;
  width: 200px;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--text-grey, #444);
}

.draw-detail-layout .edit-btn-text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

/* Edit */
.edit-layout {
  display: flex;
  width: 770px;
  height: 814px;
  padding: 40px 39px 442px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--main-white, #e2e2e9);
}

.edit-content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 48px; */
}

.edit-content-layout .title-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-holder a {
  text-decoration: none;
}

.title-holder .back-to-list {
  color: var(--text-grey, #444);
  /* Label/Bold/Small (16|22) */
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-holder .edit-title {
  color: var(--text-black, #1f1f1f);
  /* Heading/Large (40|52) */
  font-family: Alata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.edit-form label {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.edit-form .draw-btn {
  display: flex;
  width: 200px;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--text-grey, #444);
}

.edit-form .draw-btn-text {
  color: var(--text-grey, #444);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.draw-button {
  justify-content: center;
}

.figure {
  background-color: transparent;
}

.figure-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}